* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: solid 1px;
}

body {
    background-color: rgb(165, 216, 241);
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.body {
    background-image: url(./images/pexels-michael-block-3225517.jpg);
    background-size: cover;
    background-position: center;
    width: 85%;
}

.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.hero {
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.hero-left {
    height: 100%;
    width: 30%;
    background-color: rgba(129, 171, 57, 0.5);
    color: white;
    border-radius: 16px 0 0 16px;
}

.hero-right {
    height: 100%;
    width: 30%;
    background-image: url(./images/pexels-vlad-bagacian-1314186.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0 16px 16px 0;
}

.info-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
    background-color: rgba(255, 255, 255, 0.387);
}

.infographics {
    display: flex;
    gap: 32px;
}

.infographic img {
    height: 150px;
    width: 150px;
}

.quote-section {
    height: 300px;
    padding: 24px 0;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 32px;
    font-weight: 700;
    width: 50%;
}

.quote-by{
    font-size: 32px;
    margin-left: -25%;
}

.modal-container {
    height: 300px;
    padding: 24px 0;
}

.footer {
    height: 64px;
}